.gameContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameContainer > canvas {
  position: absolute;
  border: 1px solid black;
  margin: 10px;
}

.backgroundImg {
  position: absolute;
  opacity: 0.5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(-1);
}

@keyframes zoomIn {
  from {
    transform: translate(-50%, -50%) scale(-0.1, 0.1);
  }
  to {
    transform: translate(-50%, -50%) scale(-1, 1);
  }
}

.zoomIn {
  animation-name: zoomIn;
  animation-fill-mode: forwards;
}

.hudContainer{
  text-align: center;
}

.text {
  display: inline-block;
  margin: 0;

  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: #FFFFFF;
}

