.pageContainer {
  overflow: hidden;
  max-width: 100vw;
  height: 100vh;
  background-image: url("./img/playBackground.png");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 20px;
}

.gameContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
  margin-left: 20px;
  transform: scale(1.4);
}

.canvasContainer {
  position: relative;
}

.backgroundImg {
  position: absolute;
  opacity: 0.9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(-1, 1);
  filter: drop-shadow(5px 5px 5px #222);
  z-index: 1;
}

@keyframes zoomIn {
  from {
    transform: translate(-50%, -50%) scale(-0.1, 0.1);
  }
  to {
    transform: translate(-50%, -50%) scale(-1, 1);
  }
}

.zoomIn {
  animation-name: zoomIn;
  animation-fill-mode: forwards;
}

.gameoverScreen {
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.topText {
  position: absolute;
  text-align: center;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upperright {
  position: absolute;
  top: 0;
  right: 0;
}

.initialCountdown {
  font-family: "RowdiesBold";
  font-size: 10rem;
  color: white;
  text-shadow: 2px 2px 10px black;
}

.hudTutorial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.hudTutorial .top,
.hudTutorial .bottom {
  position: absolute;
  width: 50%;
  text-align: center;
  color: white;
  font-family: "RowdiesBold";
  font-size: 1.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  text-shadow: 2px 2px 1px black;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.hudContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: white;
}

.hudBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hudContainer > div {
  font-family: "RowdiesRegular";
  text-align: center;
}

.hudTimer {
  font-size: 80px;
  padding: 0px 30px;
  text-shadow: 2px 2px 10px black;
}

.hudCheck {
  font-size: 80px;
  padding: 10px 20px;
}

.hudLevel {
  font-size: 20px;
  padding: 20px;
  color: white;
  background-color: black;
  border-radius: 20px 0;
}

.hudScore {
  font-size: 50px;
  padding: 15px 25px;
  background-color: white;
  color: #8e00e4;
  border-radius: 0 20px;
}

.hudScore p {
  font-size: 20px;
  margin: 0;
}

.centeredButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.startButton button {
  font-size: 4rem;
  padding: 1rem 4rem;
}

.bottomText {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  font-family: "RowdiesBold";
  text-shadow: 2px 2px 1px black;
}

.upperleft {
  position: absolute;
  top: 0;
  left: 0;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomright {
  position: absolute;
  bottom: 0;
  right: 0;
}
