.playContainer {
  height: 100vh;
  background-image: url("./img/homeBackground.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.homeSectionContainer {
  height: 100vh;
  background-image: url("./img/playBackground.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.linkContainer {
  padding-top: 70px;
  display: flex;
  justify-content: right;
}

.linkText {
  margin: 0px 20px 0px 20px;
  color: #ffffff;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonDiv {
  margin-top: 500px;
  width: 154px;
  height: 77px;
  background-color: #ffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.playButton {
  width: 20vw;
}

.playButton button {
  font-size: 2rem;
}

.titleText {
  text-align: center;
  color: #ffffff;
  margin: 50px 0px 0px 0px;
  font-size: 80px;
  font-weight: bold;
}

.subtitleText {
  text-align: center;
  color: #ffffff;
}

.cardsContainer {
  text-align: center;
  margin-top: 100px;
}

.card {
  display: inline-block;
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  text-align: center;
  margin: 50px;
}

.cardImg {
  padding-top: 50px;
  width: 100px;
  height: 167px;
  display: inline-block;
}

.cardContent {
  padding: 20px;
}

.cardText {
  text-align: center;
  font-weight: bold;
}

.teamMemberContainer {
  display: inline-block;
  margin: 0px 70px 0px 70px;
}

.teamImg {
  width: 250px;
  height: 328px;
}
