.play{
  /* Play! button */

  width: 421px;
  height: 168px;
  background-color: #ffff;
  border-color: #8E00E4;
  border-radius: 20px;
  margin:0 auto;
  margin-top: 400px;
  display:block;

  /* Play! */

  width: 152px;
  height: 74.09px;

  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 71px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #8E00E4;
}
