@font-face {
  font-family: "RowdiesBold";
  src: local("RowdiesBold"),
    url("./fonts/Rowdies/Rowdies-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "RowdiesRegular";
  src: local("RowdiesRegular"),
    url("./fonts/Rowdies/Rowdies-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "RowdiesLight";
  src: local("RowdiesLight"),
    url("./fonts/Rowdies/Rowdies-Light.ttf") format("truetype");
  font-weight: lighter;
}

body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* height: 100vh; */
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  transform: rotateY(180deg);
  border-radius: 20px;
}

img {
  border-radius: 30px;
}

canvas {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
}

button {
  cursor: pointer;
  border-radius: 5px;
  background-color: yellow;
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "RowdiesBold";
  transform: scale(0.95);
  transition: 0.4s;
}

.activebutton {
  background-color: red;
  color: yellow;
  transform: scale(1.05);
}
