body {
  background-color: #9a00d0;
  background-image: url('./img/homeBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* height: 100vh; */
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  clear: both;
  transform: rotateY(180deg);
  border-radius: 5px;
}

canvas {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
}
button {
  cursor: pointer;
  margin: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: yellow;
  color: red;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Comic Sans MS";
  transform: scale(0.95);
  transition: 0.4s;
}

button:hover {
  /* transform: translate(2px, 2px); */
  transform: scale(1);
  transition: 0.4s;
}

button:active {
  filter: invert(1);
  transition: 0.4s;
}

.activebutton {
  background-color: red;
  color: yellow;
  transform: scale(1.05);
}

/* .coordinates {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 0 10px;
} */
