body {
  background-color: black;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* height: 100vh; */
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  clear: both;
  transform: rotateY(180deg);
  border-radius: 5px;
}

canvas {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
}

.container {
  position: relative;
  width: 640px;
  height: 480px;
  border: 10px solid;
  border-color: black;
  border-radius: 10px;
  transition: 0.5s;
}

button {
  cursor: pointer;
  margin: 10px;
}

/* .coordinates {
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  padding: 0 10px;
} */

.detect {
  position: absolute;
  top: 0;
  left: 10%;
  color: white;
}
